* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", sans-serif;
  color: #403930;
  letter-spacing: 1px;
}

body {
  background-color: #111a20;
}

/*CONTAINER 01*/

#container01 {
  background-color: #ffeed9;
  width: 50vw;
  margin: auto;
}

nav {
  display: flex;
  gap: 2vw;
  padding-top: 3vh;
  padding-left: 4.5vw;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: rgb(244, 99, 21);
  font-weight: bold;
}

#sobre_mim {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introducao p {
  font-size: 13pt;
  background-color: #ffddbf;
  width: 5vw;
  border-radius: 10px;
}

.avatar_img {
  width: 16vw;
}

.botoes {
  display: flex;
  gap: 1vw;
  margin-top: 3vh;
}

.botao_trabalhos {
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12pt;
  color: #f3f2ff;
  background-color: #545454;
  border: none;
}

.botao_trabalhos:hover {
  background-color: #00000000;
  color: rgb(244, 99, 21);
  font-weight: bold;
}

.botao_contato {
  border: none;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12pt;
  color: #f3f2ff;
  background-color: #545454;
}

.botao_contato:hover {
  background-color: #00000000;
  color: rgb(244, 99, 21);
  font-weight: bold;
}

/*CONTAINER 02*/

#container02 {
  background-color: #ffe5cc;
  width: 50vw;
  margin: auto;
  padding-bottom: 15px;
}

#container02 header h2 {
  padding: 30px 0px 20px 71px;
}

.grupo_trabalhos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.trabalhos {
  background-color: #fff8f2;
  width: 41vw;
  height: 30vh;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
}

.trabalho_descricao {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 13vw;
}

.trabalho_descricao a {
  text-decoration: none;
  background-color: #ffe5cc;
  border-radius: 10px;
  width: 5vw;
  text-align: center;
  font-size: 9pt;
  font-weight: bold;
  color: coral;
  padding: 5px;
}

.trabalho_descricao a:hover {
  background-color: #00000000;
}

.trabalho_img {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  background-color: #111a20;
  padding: 20px;
}

/*CONTAINER 03 e 04*/

#container03 {
  background-color: #ffeed9;
  width: 50vw;
  height: 40vh;
  margin: auto;
}

#container03,
#container04 h2 {
  text-align: center;
  padding: 50px 0px 20px 0px;
}

.habilidades {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.habilidades img {
  width: 50px;
  margin-top: 50px;
}

#container04 {
  background-color: #ffe5cc;
  width: 50vw;
  height: 40vh;
  margin: auto;
}

.contato {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.contato img {
  width: 50px;
  margin-top: 30px;
}
