* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", serif;
  color: #403930;
  letter-spacing: 1px;
}

body {
  background-color: #111a20;
}

/*CONTAINER 01*/

#primeiraSection {
  background-color: #ffeed9;
  width: 50vw;
  margin: auto;
}

nav {
  display: flex;
  gap: 2vw;
  padding-top: 3vh;
  padding-left: 4.5vw;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  border-bottom: 2px solid #ffa97a;
}

#sectionTextoeImag {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introducao p {
  font-size: 13pt;
  background-color: #ffddbf;
  width: 4vw;
  border-radius: 10px;
}

.avatar_img {
  width: 16vw;
}

.botoes {
  display: flex;
  gap: 1vw;
  margin-top: 2vh;
}

.botao_trabalhos,
.botao_contato {
  padding: 8px;
  border-radius: 10px;
  border: #545454;
  cursor: pointer;
  font-size: 12pt;
  color: #f3f2ff;
  background-color: #545454;
}

.botao_trabalhos:hover {
  border: 1px solid #ffa97a;
  background-color: #00000000;
  color: #545454;
}

.botao_contato:hover {
  border: 1px solid #ffa97a;
  background-color: #00000000;
  color: #545454;
}

/*CONTAINER 02*/

.container02 {
  background-color: #ffe5cc;
  width: 50vw;
  margin: auto;
  padding-bottom: 15px;
}

.container02 header h2 {
  padding: 30px 0px 20px 71px;
}

.grupo_trabalhos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.trabalhos {
  background-color: #fff8f2;
  width: 41vw;
  height: 30vh;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
}

.trabalho01 p {
  text-align: justify;
}

.trabalho_descricao {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 12vw;
}

.trabalho_img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  background-color: #111a20;
  padding: 15px;
}

/*CONTAINER 03*/

.container03 {
  background-color: #ffeed9;
  width: 50vw;
  margin: auto;
}
.container03 h2 {
  text-align: center;
  padding: 30px 0px 20px 71px;
}
.habilidades {
  padding: 30px 0px 20px 71px;
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.habilidades img {
  width: 50px;
}

/*CONTAINER 04*/

.container04 {
  background-color: #ffe5cc;
  width: 50vw;
  margin: auto;
}
.container04 h2 {
  text-align: center;
  padding: 30px 0px 20px 71px;
}
