* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111a20;
}

/*CONTAINER 01*/

.container01 {
  background-color: #ffa97a;
  width: 50%;
  margin: auto;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 2vw;
  padding-top: 3vh;
  padding-left: 3vw;
  flex-wrap: wrap;
}

.apresentacao {
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
  align-items: center;
}

.botoes {
  display: flex;
  gap: 1vw;
  margin-top: 2vh;
}

.avatar_img {
  width: 16vw;
}

/*CONTAINER 02*/

.container02 {
  background-color: #ffe5cc;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.container02 header h2 {
  padding-bottom: 20px;
}

.grupo_trabalhos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.trabalhos {
  background-color: #fff8f2;
  width: 82%;
  display: flex;
  border-radius: 20px;
  align-items: center;
  padding-left: 40px;
}

.trabalho01 p {
  text-align: justify;
}

.trabalho_descricao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.trabalho_img {
  width: 200px;
  height: 200px;
}

/*CONTAINER 03*/

.container03 {
  background-color: #ffa97a;
  width: 50%;
  margin: auto;
  padding-top: 50px;
}

.habilidades img {
  width: 50px;
}
